<a href="https://colab.research.google.com/github/TrajicoKielle/58003-OOP/blob/main/Control_Strucure_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If, Elif, and Else

In [44]:
if 3>2:
  print("three is greater than two")
elif 3==2:
  print("three is equal two")
else:
  print("three is less than two")

three is greater than two

Application 1 - Create a python program that will compare if the student is in Elementary, Secondary, and Tertiary Level

In [43]:
print("Type the grade level of the student:")
print("1 - 6 = Elementary")
print("6 - 12 = Secondary")
print("None of the choices above = Tertiary")

x = int(input())
if x ==1 or x ==2 or x ==3 or x ==4 or x ==5 or x==6:
  print("Elementary")
elif x==7 or x==8 or x==9 or x==10 or x==11 or x==12:
  print("Secondary")
else:
  print("You are in Tertiary Level")

Type the grade level of the student:
1 - 6 = Elementary
6 - 12 = Secondary
None of the choices above = Tertiary
2
Elementary

Nested if.. Else Statement

In [42]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20")
    if x> 30:
      print("and also above 30")
      if x> 40:
        print("and also above 40")
        if x>50:
          print("and also above 50")
        else:
          print("Below 50")
      else:
        print("Below 40")
    else:
      print("Below 30")
  else:
    print("but not above 20")     
else:
  print("Below 10")

Above ten,
and also above 20
and also above 30
and also above 40
Below 50

EXAMPLE # 1

In [4]:
x=int(input("Enter your age:"))

if x>=18:
  print("You are qualified to vote!")
if x<18:
  print("You are not qualified to vote!")
else:
  print("Invalid Input")

Enter your age:17
You are not qualified to vote!

EXAMPLE # 2

In [24]:
x=int(input("Enter number:"))

if x>0:
  print("The number is POSITIVE")
if x<0:
  print("The number is Negative")
if x==0:
  print("The number is ZERO")

Enter number:-15
The number is Negative

EXAMPLE # 3

In [ ]:
x=float(input("Enter your grade:"))

if x>=70:
  print("PASSED")
if x<=69.99 and x>=65:
  print("REMEDIAL")
if x<=64.99 and x>1:
  print("FAILED ")
if x<=0:
  print("Invalid Input")