<a href="https://colab.research.google.com/github/TrajicoKielle/58003-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python Fundamentals

In [2]:
#Python Indentation 
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

In [3]:
#Declaration of Variable 
x=5
y=2

if x>y:
  print("5 is greater than 2")
elif x<y:
  print("2 is greater than 5")
else:
  print("5 and 2 is equal")

5 is greater than 2

In [6]:
#Python Variable
a,b=0,-1
print(a)
print(b)

0
-1

In [7]:
#Python Variable with multiple values
a,b,c=0,-1,-2
print(a)
print(b)
print(c)

0
-1
-2

In [11]:
#Single Variable with multiple values
a=b=c=4.5
print(a)
print(b)
print(c)

4.5
4.5
4.5

In [12]:
print(type(a))

<class 'float'>