<a href="https://colab.research.google.com/github/TrajicoKielle/58003-OOP/blob/main/Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested for Loop

In [1]:
adjective = ["big","tasty","juicy"]
fruits = ["banana", "apple","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

big banana
big apple
big cherry
tasty banana
tasty apple
tasty cherry
juicy banana
juicy apple
juicy cherry

Break Statement in for Loop

In [6]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Print only Thursday using break statement in for loop

In [11]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

Looping through string

In [12]:
for x in "Philippines":
  print (x)

P
h
i
l
i
p
p
i
n
e
s

While Loop

In [17]:
i = 1 
while i<=6:
  print(i)
  i+=1        #same as i = i+1

1
2
3
4
5
6

While Loop Using Break Statement

In [26]:
i = 1
while i<6:
  if i == 4:
    print(i)
    break
  i+=1

4

Application 1

In [30]:
i = 0
while i<11:
  print("Hello",(i))
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [34]:
i = 3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9