<a href="https://colab.research.google.com/github/TrajicoKielle/58003-OOP/blob/main/Operations_and_Expression_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
print(10<9)
print(10==9)
print(10>9)
print(10==10)
print(9==9)

False
False
True
True
True

In [ ]:
#Bool() Function
print(bool(1))
print(bool("Maria"))
print(bool(-1))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
True
False
False
False

In [ ]:
#Function can Return a Boolean
def myFunction():
  return True 
print(myFunction())

True

Python Operators

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10//3)
print(10%3)

15
5
50
2.0
3
1

Bitwise Operator

In [ ]:
a = 60
b = 13

print(a&b)
print(a | b)
print(a<<1)
print(a<<2)

12
61
120
240

Python Assignment Operators

In [ ]:
x=6
x+=3 #same as x = x + 3 
              # x = (6) + 3 = 9
print(x)

9

Logical operator

In [ ]:
t= True
s= False

print(t and s)
print(t or s)
print(not (t or s)) #not(True) = False

False
True
False

Identity Operator

In [ ]:
#is is not

t = True
s = False
print(t is t)
print(t is s)
print(t is not s)

True
False
True

Application 1 Create a Standard Calculator (MDAS)

In [ ]:
x=int(input())
y=int(input())

if x+y:
  print(x+y)
if x-y:
  print(x-y)
if x*y:
  print(x*y)
if x/y:
  print(x/y)
else:
  print("Invalid")